@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1 {
  font-family: 'Della Respira', serif;
  font-size: 36px;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #F1F3F4;
}

/* COMEÇO MENU LATERAL */
.janela {
  display: flex;
  /* width: 100vw; */
}

.header-left {
  position: fixed;
  left: 0;
  z-index: 999;
  height: 95vh;
  width: 8%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 157, 220, 0.75);
  border-radius: 40px;
  margin-left: 30px;
  padding: 0 10px;
}

.infoPerfil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fotoPerfil {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #262626;
  margin-top: 60px;
}

.fotoPerfil img {
  width: 90px;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.hello h3 {
  color: #F2F2F2;
  font-weight: 400;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.nav_dash {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.btn-nav {
  color: white;
  background-color: rgba(242, 242, 242, 0.4);
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  margin: 20px 0;
  width: 60px;
  height: 52px;
}

.btn-nav-white {
  border-radius: 5px;
  text-align: center;
  margin: 20px 0;
  padding: 8px;
  width: 60px;
  height: 52px;
}

.btn-nav-white h3 {
  color: white;
}

.nav_dash i {
  font-size: 36px;
  color: #F2F2F2;
}

.btn-logout {
  color: #F2F2F2;
  font-size: 32px;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 60px;
  cursor: pointer;
}

/* FIM MENU LATERAL */
/* DASH */
.dash-right {
  width: 86%;
  height: fit-content;
  position: relative;
  left: 14%;
  height: 100vh;
}

/* POSTS */
.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  margin-top: 60px;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
  position: fixed;
  left: 70%;
  top: 70%;
  justify-self: flex-start;
  align-self: flex-start;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form form {
  display: flex;
  flex-direction: column;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid black;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font: 600 16px 'Work Sans', sans-serif;
  border: 0;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  background-color: deeppink;
  width: 120px;
  margin-top: 10px;
}

#form_postagem textarea{
  padding: 10px;
  font: 400 16px 'Work Sans', sans-serif;
  width: 400px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
  margin-top: 40px;
}

.div-results .feed-container {
  border-radius: 5px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(4, 1fr); */
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

.div_posts {
  /* border: 2px solid #e6005a; */
  width: 320px;
  padding: 20px;
  /* border-radius: 20px; */
  background-color: #ffffff;
  margin: 5px;
}

.infoPosts {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #f2ab27;
}

.usuario {
  display: flex;
  align-items: center;
}

.img-usuario {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #262626;
}

/* .usuario img {
  width: 30px;
}

.usuario p {
  margin-left: 8px;
} */

.foto-post img {
  width: 280px;
}

.post-texto,
.foto-post {
  margin-top: 10px;
}

/* DASHBOARD */
.dash {
  width: 82%;
  height: fit-content;
  position: relative;
  left: 14%;
  height: 100vh;
}

.area-parametros-alerta {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
}

.area-parametros-alerta .titulo-legenda {
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.btns-dash {
  margin-top: 30px;
}

.graph {
  padding-top: 10px;
}

.tituloGraficos {
  color: #04B2D9;
}

.dashboard {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.dashboard .container {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
}

.dashboardUm,
.dashboardDois {
  text-align: center;
  width: 100%;
}

.select-chart {
  font-weight: 600;
  border: 1px solid #f2ab27;
  font-size: 18px;
  padding: 10px 15px;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.todosOsGraficoa {
  display: flex;
  align-items: end;
}

.todosOsGraficoa .dashboardDois {
  margin-left: 50px;
}

.kpis {
  align-self: center;
}

.kpi {
  border: 1px solid #04B2D9;
  background-color: #04B2D9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #ffffff;
  width: 320px;
  height: 100px;
  border-radius: 20px;
  align-self: center;
}

.amor {
  color: rgb(242, 168, 29, 0.2);
  color: rgb(154, 17, 191, 0.2);
  color: rgb(4, 178, 217, 0.2);
  color: rgb(242, 99, 204, 0.2);
  color: rgb(2, 48, 89, 0.2);
}

.kpi p {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.kpi #dadoKpi {
  font-size: 24px;
  font-weight: 400;
}

/* JOGOS */
.jogos {
  margin-top: 60px;
}

.jogos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.cardJogo {
  width: 850px;
  height: 120px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5px 0;
}

.cardJogo h2 {
  position: absolute;
  z-index: 1;
  color: #F1F3F4;
  font: 500 3.3vh 'Work Sans', sans-serif;
}

.cardJogo img {
  width: 850px;
  height: 120px;
  object-fit: cover;
  filter: brightness(0.5);
}

/* transition: transform .35s ease-in-out; */

.jogo2 {
  order: 1;
}

.descricaoJogo {
  width: 700px;
}

footer {
  background-color: #f2ab27;
}

footer .container {
  text-align: center;
  padding: 50px;
}

/* ADIVINHA */
.adivinha {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.voltar {
  align-self: flex-start;
  margin-left: 400px;
}

.voltar i {
  font-size: 32px;
  color: #262626;
}

.adivinha img {
  width: 200px;
}

.tentativasAdivinhas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.tentativasAdivinhas input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f2ab27;
  outline: unset;
}

.caixaTextoAjuda {
  text-align: center;
}

.tentativasAdivinhas button {
  width: 300px;
  padding: 10px;
  font: 400 1.5vh 'Work Sans', sans-serif;
  background-color: rgb(242, 171, 39, 0.5);
  border: 1px solid #f2ab27;
  margin-top: 10px;
  border-radius: 20px;
}

.resultadoJogo button {
  width: 300px;
  padding: 10px;
  font: 400 1.5vh 'Work Sans', sans-serif;
  background-color: #FD010480;
  border: 1px solid #FD0104;
  margin-top: 10px;
  border-radius: 20px;
}

#div_vidas img {
  width: 30px;
}

/* QUIZ */
/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */

:root {
  --primary-brand-color: #ED145B;
  --secondary-brand-color: #0762C8;
  --success: #198754;
  --success-dark: #095c36;
  --success-light: #9dd3ba;
  --warning: #ffc107;
  --warning-dark: #705400;
  --warning-light: #fdebb3;
  --danger: #dc3545;
  --danger-dark: #990c19;
  --danger-light: #f0c1c6;
  --new-gray: #CCCCCC;
  --new-black: #212427;
  --new-white: #E8E8E8;
}

#pontuacaoEJogo button {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--new-black);
  margin: 5px 0;
}

.submeter {
  background-color: #F205CB80;
}

.avancar {
  background-color: #04B2D980;
}

.tentar {
  background-color: #D4055E80;
}

#pontuacaoEJogo {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.flex-colunar {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.flex-colunar2 {
  display: flex;
  flex-direction: column;
}

.flex-colunar2 span {
  padding: 5px;
}

.width-fit-content {
  width: fit-content;
}

.border-primary {
  border: 3px solid var(--primary-brand-color);
}

.padding-8 {
  padding: 8px;
}

.text-bold {
  font-weight: bold;
}

.text-success-with-bg {
  color: var(--success-dark);
  background-color: var(--success-light);
}

.text-warning-with-bg {
  color: var(--warning-dark);
  background-color: var(--warning-light);
}

.text-danger-with-bg {
  color: var(--danger-dark);
  background-color: var(--danger-light);
}

.text-new-gray {
  color: var(--new-gray);
}