@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Work Sans', sans-serif;
}

/* COMEÇO MENU LATERAL */
.janela {
  display: flex;
  /* width: 100vw; */
}

.header-left {
  position: fixed;
  left: 0;
  z-index: 999;
  height: 95vh;
  width: 8%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 157, 220, 0.75);
  border-radius: 40px;
  margin-left: 30px;
  padding: 0 10px;
}

.infoPerfil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fotoPerfil {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #262626;
  margin-top: 60px;
}

.fotoPerfil img {
  width: 90px;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.hello h3 {
  color: #F2F2F2;
  font-weight: 400;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.nav_dash {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.btn-nav {
  color: white;
  background-color: rgba(242, 242, 242, 0.4);
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  margin: 20px 0;
}

.btn-nav-white {
  border-radius: 5px;
  text-align: center;
  margin: 20px 0;
}

.btn-nav-white h3 {
  color: white;
}

.nav_dash i {
  font-size: 36px;
  color: #F2F2F2;
}

.btn-logout {
  color:  #F2F2F2;
  font-size: 32px;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 60px;
  cursor: pointer;
}

/* FIM MENU LATERAL */
/* DASH */
.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

/* pagina mural */

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font: 600 16px 'Work Sans', sans-serif;
  border: 0;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */


.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  height: 100vh;
  overflow: auto;
}

.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
}

.area-parametros-alerta .titulo-legenda {
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  height: 180px;
  /* justify-content: right; */
  font-size: 20px;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}


.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}


/* JOGOS */
.bannerJogo {
  width: 100%;
  height: 40vh;
  background-color: #04B2D9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jogosDisponiveis {
  margin-top: 70px;
}

.informacaoJogo {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cardJogo {
  width: 350px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

/* transition: transform .35s ease-in-out; */

.jogo2 {
  order: 1;
}

.descricaoJogo {
  width: 700px;
}

footer {
  background-color: #f2ab27;
}

footer .container {
  text-align: center;
  padding: 50px;
}

/* ADIVINHA */
.adivinha {
  text-align: center;
}

.adivinha h1 {
  font: 400 3.3vh 'Della Respira';
}