@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

a {
    text-decoration: none;
}

.container {
    margin: 0 80px;
}
/* PRINCIPAL */
/* CABEÇALHO */
header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header .logo img {
    width: 120px;
}

header .agora {
    color: #f2ab27;
}

header a {
    margin: 0 10px;
    color: black;
    font: 400 2vh "Work Sans", sans-serif;
}

header a:hover {
    color: #f2ab27;
    transition: ease-in 0.5;
}


/* FIM DO CABEÇALHO */
/* BANNER */
main {
    padding-top: 90px;
    margin-bottom: 100px
}

.banner {
    background: url(../assets/imgs/banner.png) center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    margin: 0 40px;
    border-radius: 40px;
}
/* FIM DO BANNER */
/* PERSONAGENS */
#Personagens {
    margin-top: 100px;
}

.cardsPersonagens {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 280px;
    height: 400px;
    background-color: #04B2D9;
    border-radius: 40px;
}

/* FIM PERSONAGENS */

/* FIM DO PRINCIPAL */

/* JOGOS */
.bannerJogo{
    width: 100%;
    height: 40vh;
    background-color: #04B2D9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jogosDisponiveis {
    margin-top: 70px;
}

.informacaoJogo {
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cardJogo {
    width: 350px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.jogo2 {
    order: 1;
}

.descricaoJogo {
    width: 700px;
}

footer {
    background-color: #f2ab27;
}

footer .container {
    text-align: center;
    padding: 50px;
}
